.header-7 .top-section {
  background: #14416b;
}
.black {
  background: #14416b;
}
.copyright-section p {
  color: #fff;
}
header {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
